ul.wpvs_wrapper,
ul.wpvs_wrapper ul,
ul.wpvs_wrapper li {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul.wpvs_wrapper ul {
	padding-left: 20px;
	margin-bottom: 10px;
	position: relative;
}

ul.wpvs_wrapper > li {
	display: inline-block;
	vertical-align: top;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 50px;
}

ul.wpvs_wrapper li > a,
ul.wpvs_wrapper > li ul li {
	border-width: 0;
	border-color: #ccc;	
	min-height: 40px;
}

ul.wpvs_wrapper > li.wpvs_column_1,
ul.wpvs_wrapper > li.wpvs_column_2,
ul.wpvs_wrapper > li.wpvs_column_3,
ul.wpvs_wrapper > li.wpvs_column_4 {
	width: 95%;
}

@media screen and (min-width: 600px) {
	ul.wpvs_wrapper > li.wpvs_column_2,
	ul.wpvs_wrapper > li.wpvs_column_4 {
		width: 44%;
	}
}

@media screen and (min-width: 800px) {
	ul.wpvs_wrapper > li.wpvs_column_3 {
		width: 28.333333%;
	}
}

@media screen and (min-width: 1000px) {
	ul.wpvs_wrapper > li.wpvs_column_4 {
		width: 20%;
	}
}

ul.wpvs_wrapper li a {
	padding: 5px 10px;
	display: table;
	font-size: 12px;
	background-color: #009691;
	color: #FFF;
	margin-bottom: 10px;
	border-radius: 5px;
	position: relative;
	text-decoration: none;
	border-width: 0;
	width: 100%;
	box-shadow: none;
	box-sizing: border-box;
	transition: background 0.3s, color 0.3s;
}

ul.wpvs_wrapper li a:hover {
	background: #CCC;
	color: #333;
	box-shadow: none;
}

ul.wpvs_wrapper li a > i {
	margin-right: 5px;
}

ul.wpvs_wrapper li > a .wpvs_menu_icon {
	display: table-cell;
	font-size: 1.5em;
	width: 20%;
	height: 30px;
	line-height: 30px;
	border-radius: 20px;
	vertical-align: middle;	
	text-align: center;
}

ul.wpvs_wrapper li > a span {
    display: table-cell;
    width: 100%;
    line-height: 1.2;
    vertical-align: middle;
}

ul.wpvs_wrapper li > a .wpvs_menu_icon ~ span {
	width: 75%;
    padding-left: 5px;
}

ul.wpvs_wrapper > li ul a:before {
	content: '';
	display: block;
	width: 10px;
	border-top: 1px solid;
	border-color: inherit;
	position: absolute;
	left: -10px;
	top: 50%;
}

ul.wpvs_wrapper > li ul a:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: -10px;
	border-top: 0;
	border-left: 1px solid;
	border-color: inherit;
	height: 100%;
}

ul.wpvs_wrapper > li ul li:last-child a:after {
	height: 50%;
}

ul.wpvs_wrapper > li ul li {
	position: relative;
}

ul.wpvs_wrapper > li ul li:before {
	content: '';
	display: block;
	border-left: 1px solid;
	border-color: inherit;
	position: absolute;
	left: -10px;
	top: -10px;
	bottom: 0;
}

ul.wpvs_wrapper > li ul li:last-child:before {
	height: 10px;
	bottom: auto;
}




